/* landing_page.css */

.header{
    height:100px;
    width: 100%;
}
.center-board {
    display: flex;
    justify-content: space-between; /* Spacing between child divs */
}

.center {
    flex: 1; /* Each div takes up an equal portion of the available space */
    text-align: center;
}

.left, .middle, .right {
    width: 33%; /* Each div takes up 33% of the available space */
}
