.sidebar {
  background: rgb(36, 0, 10);
  background: linear-gradient(
    90deg,
    rgba(36, 0, 10, 1) 6%,
    rgba(244, 8, 208, 1) 36%,
    rgba(13, 0, 18, 1) 100%
  );
  padding-top: 16px;
  height: 100vh;
}
